# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.bmg4-proje.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\burak\OneDrive\Documents\GitHub\bmg4-proje\.idea\.idea.bmg4-proje\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
